.header {
  width: 100%;
  height: 120px;
  display: flex;
  gap: 5px;
}

.box1 {
  background-color: purple;
  height: 100%;
  width: 40%;
}
.box2 {
  background-color: purple;
  height: 100%;
  width: 60%;
}

.section {
  height: 300px;
  width: 100%;
  display: flex;
}

.section .left {
  background-color: orange;
  width: 50%;
  margin: 5px;
}

.section .right {
  height: 100%;
  width: 50%;
  gap: 5px;
}

.section .right .aside {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section .right .aside div {
  background-color: blue;
  height: 50%;
  width: 100%;
  margin: 5px;
}

.footer {
  width: 100%;
  height: 120px;
  border: 2px solid red;
  display: flex;
  gap: 5px;
}

.footer div {
  height: 100%;
  width: 33.3%;
  background-color: green;
}
