p {
  color: blue;
  /* font-size: 40px; */
  /* text-decoration: line-through; */
  /* text-transform: capitalize; */
  /* text-align: justify; */
  text-align: justify;
  padding: 10px;

  text-indent: 50px;
  /* letter-spacing: 10px; */
  /* word-spacing: 40px; */
  line-height: 20px;
  /* white-space: nowrap; */

  font-weight: 500;
}

/* .box {
  width: 300px;
  height: 300px;
  border: 2px solid black;
} */
/* 
h2 {
  text-shadow: 10px 20px 1px gray;
} */
